@model SearchResultViewModel
@{
    ViewData["Title"] = "Search results of " + (Model.Data.CurrentPage == 1 ? Model.Keyword : Model.Keyword + " - Page " + Model.Data.CurrentPage);
    ViewData["MetaKeyword"] = "Search results of " + (Model.Data.CurrentPage == 1 ? Model.Keyword : Model.Keyword + " - Page " + Model.Data.CurrentPage);
    ViewData["MetaDescription"] = "Search results of " + (Model.Data.CurrentPage == 1 ? Model.Keyword : Model.Keyword + " - Page " + Model.Data.CurrentPage);
    var count = 0;
}
<!-- Breadcrumbs -->
@section Scripts{
    <script src="~/client-app/controllers/product/details.js" asp-append-version="true"></script>
    <script>
        var ProductDetail = new ProductDetailController();
        ProductDetail.initialize();
    </script>
}
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="Go to Home Page" href="/">Home</a></li>
                    <li><strong>Search result: @Model.Keyword</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Main Container -->
<div class="organic_food_wrapper">
    <!--- shop_wrapper area  -->
    <div class="shop_wrapper ptb-90">
        <div class="container-fluid">
            <div class="row">


                <div class="col-lg-12 col-md-12 col-12">
                    <div class="categories_banner">
                        <div class="categories_banner_inner">
                            <img src="assets/img/banner/shop.jpg" alt="">
                        </div>
                        <h3>Cửa hàng</h3>
                    </div>
                    <div class="tav_menu_wrapper">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-7 col-sm-6">
                                <div class="tab_menu shop_menu">
                                    <div class="tab_menu_inner">
                                        <ul class="nav" role="tablist">
                                            <li><a class="active" data-toggle="tab" href="#shop_active" role="tab" aria-controls="shop_active" aria-selected="true"><i class="fa fa-th" aria-hidden="true"></i></a></li>

                                        </ul>
                                    </div>
                                    <div class="tab_menu_right">
                                        <p>
                                            Có @Model.Data.Results.Count() Sản phẩm.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-5 col-sm-6">
                                <form action="/search.html" method="get">
                                    <input type="hidden" name="keyword" value="@Model.Keyword" />
                                    <span>Sắp xếp theo :</span>
                                    <div class="dropdown dropdown-shop">
                                        <select name="drop" id="dropdown" asp-for="SortType"
                                                onchange="this.form.submit()" asp-items="Model.SortTypes"></select>
                                    </div>                                   
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab_product_wrapper">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="shop_active">
                                <div class="row">
                                    @foreach (var item in Model.Data.Results)
                                    { 
                                        

                                            var url = "/" + item.Name + "-" + "p." + item.Id + ".html";
                                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">

                                                <div class="single__product">
                                                    <div class="single_product__inner">
                                                        <span class="new_badge">new</span>
                                                        @if (item.Quality != 0)
                                                        {
                                                            <span class="number">Còn hàng</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="number" style="background:orangered">Hết hàng</span>
                                                        }
                                                        <div class="product_img">
                                                            <a href="#">
                                                                <img src="@item.Image" alt="" style="height:253.8px;width:253.8px">
                                                            </a>
                                                        </div>
                                                        <div class="product__content text-center">
                                                            <div class="produc_desc_info">
                                                                <div class="product_title">
                                                                    <h4><a href="product-details.html">@item.Name</a></h4>
                                                                </div>
                                                                <div class="product_price">
                                                                    <p>@item.Price  vnđ</p>
                                                                </div>
                                                            </div>
                                                            <div class="product__hover">
                                                                <ul>
                                                                    <li><a href="#" class="cart-order" data-id="@item.Id"><i class="ion-android-cart" title="Thêm vào gỏi"></i></a></li>
                                                                    <li><a class="cart-fore" href="#" data-id="@item.Id" data-toggle="modal" data-target="#my_modal" title="Xem Nhanh"><i class="ion-android-open"></i></a></li>
                                                                    <li><a href="@url" data-id="@item.Id"><i class="ion-clipboard" title="Xem thông tin"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        
                                    }
                                </div>
                            </div>
                        </div>

                    </div>
                    @(await Component.InvokeAsync("Pager", Model.Data))
                </div>
            </div>
        </div>
    </div>


</div>
<!-- Main Container End -->
@Html.Partial("_modalView.cshtml")