@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<!-- Breadcrumbs -->

<div class="breadcrumb_container ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <nav>
                    <ul>
                        <li>
                            <a href="/">Trang chủ ></a>
                        </li>
                        <li>Tạo tài khoản</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Main Container -->
<section class="main-container col1-layout">
    <div class="page_login_section">
        <div class="container">
            <div class="page-content">
                <div class="account-login">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            <div class="register_page_form">
                                <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                                    <div class="row">
                                        <div class="col-lg-6 col-sm-6 col-md-6">
                                            <label>Họ tên:</label> <span asp-validation-for="@Model.FullName" class="text-danger"></span>

                                            <div class="input-text">

                                                <input type="text" asp-for="@Model.FullName" name="FullName" class="form-control">

                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-sm-6 col-md-6">
                                            <label>Email:</label><span asp-validation-for="@Model.Email" class="text-danger"></span>
                                            <div class="input-text">
                                                
                                                <input type="text" asp-for="@Model.Email" name="Email" class="form-control">

                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-sm-6 col-md-6">
                                            <label>Tên người dùng:</label> <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                                            <div class="input-text">
                                                <input type="text" asp-for="@Model.UserName" name="UserName" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-sm-6 col-md-6">
                                            <label>Mật khẩu:</label> <span asp-validation-for="@Model.Password" class="text-danger"></span>
                                            <div class="input-text">
                                                <input type="password" asp-for="@Model.Password" name="Password" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-sm-6 col-md-6">
                                            <label>Xác nhận mật khẩu:</label> <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                                            <div class="input-text">
                                                <input type="password" asp-for="@Model.ConfirmPassword" name="ConfirmPassword" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-sm-6 col-md-6">
                                            <label>Ngày sinh:</label> <span asp-validation-for="@Model.BirthDay" class="text-danger"></span>
                                            <div class="input-text">
                                                <input type="date" asp-for="@Model.BirthDay" name="BirthDay" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-sm-6 col-md-6">
                                            <label>Số điện thoại:</label> <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                                            <div class="input-text">
                                                <input type="text" name="PhoneNumber" asp-for="@Model.PhoneNumber" class="form-control">
                                                
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-sm-6 col-md-6">
                                            <label>Địa chỉ:</label> <span asp-validation-for="@Model.Address" class="text-danger"></span>
                                            <div class="input-text">
                                                <input type="text" name="Address" asp-for="@Model.Address" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="submit-text">
                                            <button type="submit" class="button"><i class="fa fa-user"></i>&nbsp; <span>Tạo tài khoản</span></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Main Container End -->

@section Scripts {

    @await Html.PartialAsync("_ValidationScriptsPartial")

    <recaptcha-script validation-message-element-id="recaptchaErrorMessage" />

}
